* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #8B413E;
    text-align: center;
    background-image: url(img.tarjetas/_17b4f6b0-ac24-4cae-b44b-f1cf74108af1.jpg);
}

/*tarjeta*/

.card {
    position: relative;
    padding: 15px;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background-color: #61130F;
    box-shadow: 2px 3px 5px #FFD146;

}

.card .content .img1 {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px;
}

.card .content h1 {
    font-size: 25px;
    color: #FFD146;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #8B413E;
    border-radius: 10px;
    box-shadow: 2px 3px 5px #FFD146;
}

.card .content .title1 {
    font-size: 25px;
    color: #FFD146;
    margin-bottom: 5px;
    padding: 10px;
    padding-inline: 5%;
    background-color: #8B413E;
    border-radius: 10px;
    box-shadow: 2px 3px 5px #FFD146;
}

/*
.text {
    padding-inline: 5%;
    background-color: #8B413E;
    border-radius: 10px;
    box-shadow: 2px 3px 5px #FFD146;
}

/*slider*/

.slider {
    aspect-ratio: 100 / 100;
    width: 350px;
    position: relative;
    display: inline-flex;
    overflow: scroll;
    scroll-snap-align: center;
}

.slider img {
    width: 100%;
    left: 0;
    position: static;
    object-fit: cover;
    border-radius: 10px;
    scroll-snap-align: center;
}

.title1 {
    padding: 3vh;
    color: white;
    text-align: center;
}

/*.slider {
    display: flex;
    flex-direction: column;
}*/



/*estrellas*/
p {
    font-size: 30px;
}

label {
    color: rgb(247, 243, 243);
}

input[type="radio"] {
    display: none;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover {
    color: #F8DE22;
}

label:hover~label {
    color: #F8DE22;
}

input[type="radio"]:checked~label {
    color: #F8DE22;
}