 *{
    padding: 0;
    margin: 0;
 }
section#page-3{
    background-size: cover ;
    background-position: center  bottom;
    background-repeat:no-repeat;
    text-align: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;

}

#ruleta{
}
.btn{
    width: 276px;
    height: 51px; 
    border-radius: 20px;
    background: #FFD146;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #900C3F;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.btn:hover{
    transition: 0.5s;
    background: #fce8a1;
    cursor: pointer;
}
@keyframes rotate {from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}}
#ruleta{
    -webkit-animation: 50s rotate linear infinite;
    animation: 50s rotate linear infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;