section#page-3{
    background-image: url(img/fondo\ circus\ poster.png);
    background-size: 100vh ;
    background-position: center ;
    background-repeat:no-repeat;
    text-align: center;
}

#ruleta{

}